/*
 * Author: Injamul Mohammad Mollah
 * Date: 2020-07-12
 */
body {
  margin: 1rem;
}

.nav-bar {
  list-style: none;
  flex-direction: row;
  margin-right: auto !important;
  display: flex;
  justify-content: space-between;
  .nav-links {
    text-decoration: none;
    padding-top: 4px;
  }
  li {
    padding-left: 1rem;
  }
}

.btn-click {
  text-decoration: none;
  background-color: yellow;
  padding: 10px;
  font-family: Verdana;
  border-radius: 8px;
  border-color: white;
  &:hover {
    background-color: lightblue;
  }
}
