/*
 * Author: Injamul Mohammad Mollah
 * Date: 2020-07-12
 */
body {
  margin: 1rem;
}
// Header
.nav-bar {
  list-style: none;
  flex-direction: row;
  margin-right: auto !important;
  display: flex;
  justify-content: space-between;
  .nav-links {
    text-decoration: none;
    padding-top: 4px;
  }
  li {
    padding-left: 1rem;
  }
}
// Body
.about {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 0.5rem;
  .pp {
    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
  }
  .detail {
    padding-left: 1rem;
  }
}
// CLick Me
.btn-click {
  text-decoration: none;
  background-color: yellow;
  padding: 10px;
  font-family: Verdana;
  border-radius: 8px;
  border-color: white;
  &:hover {
    background-color: lightblue;
  }
}
// Footer
.copyright {
  font-size: 8pt;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
