/*
 * Author: Injamul Mohammad Mollah
 * Date: 2020-07-12
 */

$font-color: #13bfdd;
$text-color: #362036;
$hr-color: #f8ae9f6c;
body {
  margin: 1rem;
  color: $font-color;
  background-color: #ececec;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

@media screen and (max-width: 480px) {
  body {
    margin: 0.5rem;
  }
  .nav-bar {
    list-style: none;
    flex-direction: row;
    margin-right: auto !important;
    display: flex;
    justify-content: space-between;
    img {
      height: 20px;
    }
    .nav-links {
      font-size: small;
    }
    li {
      padding-left: 0.5rem;
    }
  }
  .pp {
    padding-top: 65px;
  }
  .my-projects {
    a {
      padding-left: 1rem;
    }
  }
}

@media screen and (min-width: 1080px) {
  body {
    color: $font-color;
  }
}

// Header
.nav-bar {
  list-style: none;
  flex-direction: row;
  margin-right: auto !important;
  display: flex;
  justify-content: space-between;
  .nav-links {
    text-decoration: none;
    color: $font-color;
    font-weight: 900;
    // font-size: 1em * 1.4;
    padding-top: 4px;
  }
  li {
    padding-left: 1rem;
  }
}
// Body
a {
  text-decoration: none;
}
p,
address {
  color: $text-color;
  b {
    color: $font-color;
  }
}
.about {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 0.5rem;
  .pp {
    img {
      // height: 100%;
      width: 100%;
      border: 2px solid $font-color;
      border-radius: 10px;
    }
  }
  .detail {
    padding-left: 1rem;
    a {
      color: $text-color;
    }
  }
}
hr {
  border: 4px solid $hr-color;
  border-radius: 2.5px;
}
.education {
  font-size: inherit;
}
.skills {
  text-align: justify;
  li,
  p b {
    color: $text-color;
  }
}
.my-projects {
  font-size: inherit;
  ul,
  li {
    list-style: none;
    padding: 0.5em;
  }
  a {
    text-decoration: none;
    color: $text-color;
    padding-left: 4rem;
    &:hover {
      cursor: pointer;
      color: $font-color;
    }
  }
  span {
    // font-size: 1em * 1.2;
    font-weight: 600;
  }
}
// CLick Me
.btn-click {
  text-align: center;
  text-decoration: none;
  background-color: yellow;
  padding: 10px;
  font-family: Verdana;
  border-radius: 8px;
  border-color: white;
  &:hover {
    background-color: lightblue;
  }
}
// Footer
.copyright {
  color: $text-color;
  font-size: 1rem * 0.8;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
